*{
    box-sizing: border-box;
    
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    list-style: none;

}

h1{
    color:rgb(241, 4, 119) ;
    font-size: 80px;
    text-align: center;
    
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(img/9bc98f55db5737c6b9601ea215f14467\ \(1\).jpg);
}

.form-pag{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0;
    
}
#miFormulario{
    width: 300px;
    background-color: rgb(3, 3, 3);
    text-align: center;
    color:white;
}
.form-title{
    font-size: 30px;
    color: rgb(241, 4, 119);
    
}

.form-input{
    background-color:rgb(241, 4, 119);
    margin: 10px;
}

.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.card{
    box-shadow: 0 4px 8px 0 rgb(252, 250, 250);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    padding: 80px;
}
.card > img{
    width: 100%;
    height: 250px;
}
.price{
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(4, 4, 4);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}